#
# Configuration file for qemu-test-iouring. Uncomment and specify
# values to change defaults
#
# Default architecture
# ARCH="x86_64"
#
# Initialize the image before running virtual machine
# 1 - initialize the image (default)
# 0 - do not initialize the image
# IMG_INIT=1
#
# Do not run on spefified image, but rather create copy of it first
# and run on that.
# 0 - run on the provided image (default)
# 1 - run on the copy of the provided image
# COPY_IMG=0
#
# Specify additional file to copy into the virtual machine. See
# man virt-builder for more information on --copy-in option
# COPY_IN=""
#
# List of excluded tests
# EXCLUDE_TEST=""
#
# Default image to run with. Will be overriden by -I option
# IMG=""
#
# Default nvme image to run with. Will be overriden by -N option
# NVME_IMG=""
